<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <form  action="/add" method="POST">
    	<div>Enter The name of csv File: <input type="text" name="val1"></div>
    	<div>Enter the name of attribute of csv file of which 5 point summary has to be found: <input type="text" name="val2"></div>
    	<div><input type="submit" value="Submit"></div>
    	
    </form>
  </body>
</html>
